[Unit]
Description=Gunicorn instance for provision.py
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/provision
Environment="PATH=/usr/local/bin"
ExecStart=/usr/bin/gunicorn -c /opt/provision/gunicorn_config.py provision:application
StandardOutput=append:/var/log/gunicorn/provision.log
StandardError=append:/var/log/gunicorn/provision-error.log

[Install]
WantedBy=multi-user.target