#scrollTopBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9999;
  display: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 22px;
}

.table .dropdown-menu {
  position: static;
  margin-top: .25rem;
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: line-through;
}

body { 
  padding-top: 65px;
}

.accordion-path { 
  background-color: #B5FFF1; 
}
