<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>1000 sites provision system</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type='image/png' sizes="16x16" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
<main>
<div>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Система автоматичного розгортання сайтів:</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" id="totalLines" style="color: 0dcaf0;"></a>
        </li>
        <li>
          <a class="nav-link active" id="totalRecords" style="color: 0dcaf0;"></a>
        </li>
        <span class="spinner-border text-warning" role="status" id="spinnerLoading" style="margin-left: 5px; margin-top: 5px;"></span>
      </ul>
      <a href="/" class="btn btn-info">⬅На головну</a>&nbsp;
      <form class="d-flex" action="/logout" method="POST">
        <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">🏃{{current_user.realname}}&nbsp;Вихід</button>
      </form>
    </div>
  </div>
</nav>
</div>
<div class="card" style="margin-top: 7vh; margin-left: 30vw; width: 80vh; height: 20vw;">
  <div class="card-header" style="background-color: palegreen;">
    <h4>CNAME записи для домену {{ source_site|safe }} :</h4>
  </div>
  <div class="card-body">
    <form action="/clone" method="POST" id="postform" class="needs-validation" novalidate>
      <div id="currentRecords">
        <h5 class="card-title">Вже існуючі записи типу CNAME:</h5>
      </div>
      <div class="mb-3 dropdown">
        <h5 class="card-title">Оберіть аккаунт CloudFlare на якому новий домен розташован:</h5>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="Account" data-bs-toggle="dropdown" aria-expanded="false" style="width: 580px;">{{first_cf|safe}}</button>
        <button class="btn btn-warning" type="button" id="Validate" value="Validate" style="width: 168px;">Перевірити</button>
        <ul class="dropdown-menu" aria-labelledby="Account">
          {{cf_list|safe}}
        </ul>
        <input type="hidden" name="selected_account" id="selected_account" value="{{first_cf|safe}}" required>
        <div class="invalid-feedback">
          Оберіть аккаунт CloudFlare.
        </div>
      </div>
      <div class="mb-3 dropdown">
        <h5 class="card-title">Оберіть на який сервер будуть вести DNS записи:</h5>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="Server" data-bs-toggle="dropdown" aria-expanded="false" style="width: 755px;">{{first_server|safe}}</button>
        <ul class="dropdown-menu" aria-labelledby="Account">
          {{server_list|safe}}
        </ul>
        <input type="hidden" name="selected_server" id="selected_server" value="{{first_server|safe}}" required>
        <div class="invalid-feedback">
          Оберіть на який сервер будуть DNS записи
        </div>
      </div>
      <div style="margin-top: 40px;">
        <button type="submit" class="btn btn-warning" style="margin-top: -30px; margin-left: 200px; width: 400px;" name="buttonStartClone" value="{{ source_site|safe }}" onclick="showLoading()">Почати клонування</button>
      </div>
    </form>
  </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Інформація:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <ul class=flashes style="margin-top: 33px;" id="message">
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" autofocus>Got it</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">Результат</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalResultBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/provision.js') }}"></script>
</main>
</body>
</html>
