<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Automatic provision system for a lot of small sites">
    <title>1000 sites provision system</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/admin_panel.css') }}" rel="stylesheet" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous" defer></script>
  </head>
<body>
<main>
<div>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center me-auto">
        <a class="navbar-brand" href="/">Панель адміністрування:</a>
        <span class="spinner-border text-warning ms-2" role="status" id="spinnerLoading" style="visibility: hidden;"></span>
      </div>
      <div class="dropdown mx-auto">
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">🚀Основне меню дій:</a>
        <ul class="dropdown-menu">
          <li><a href="/" class="btn btn-info dropdown-item">⬅На головну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/upload" class="btn btn-success">💾Додати новий сайт вручну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/provision" class="btn btn-success">💽Розгорнути сайт автоматично</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logs" class="btn btn-secondary">📩Лог роботи програми</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cloudflare_domains" class="btn btn-secondary"><img src="https://dash.cloudflare.com/favicon.ico" width="20px" height="20px">Робота з доменами CloudFlare</a></li>
          <li><hr class="dropdown-divider"></li>
          {{admin_panel|safe}}
        </ul>
      </div>
      <div class="ms-auto d-flex align-items-center">
        <form class="d-flex" action="/logout" method="POST">
          <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">🏃{{current_user.realname}}&nbsp;Вихід</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link {{active1|safe}}" href="/admin_panel/settings/">Налаштування:</a></li>
  <li class="nav-item"><a class="nav-link {{active2|safe}}" href="/admin_panel/users/">Користувачі:</a></li>
  <li class="nav-item"><a class="nav-link {{active3|safe}}" href="/admin_panel/templates/">Шаблони сайтів:</a></li>
  <li class="nav-item"><a class="nav-link {{active4|safe}}" href="/admin_panel/cloudflare/">Аккаунти Cloudflare:</a></li>
  <li class="nav-item"><a class="nav-link {{active5|safe}}" href="/admin_panel/owners/">Власники доменів:</a></li>
  <li class="nav-item"><a class="nav-link {{active6|safe}}" href="/admin_panel/servers/">Сервери та їх IP:</a></li>
  <li class="nav-item"><a class="nav-link {{active7|safe}}" href="/admin_panel/links/">Зв'язок домен-аккаунт:</a></li>
  <li class="nav-item"><a class="nav-link {{active8|safe}}" href="/admin_panel/accounts/">Прив'яка аккаунта CF до власника:</a></li>
  <li class="nav-item"><a class="nav-link {{active9|safe}}" href="/admin_panel/messages/">Массові повідомлення:</a></li>
</ul>
<br>
{{data|safe}}
<script src="{{ url_for('static', filename='js/admin_panel.js') }}"></script>
</main>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Інформація:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <ul class=flashes style="margin-top: 33px; white-space: pre-line;" id="message">
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message|safe }}</li>
          {% endfor %}
        </ul>
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" autofocus>Got it</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
</body>
</html>
