<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Automatic provision system for a lot of small sites">
  <title>1000 sites provision system</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png"/>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/logs.css') }}" rel="stylesheet" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous" defer></script>
</head>
<body class="vh-100">
<main>
<div>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center me-auto">
        <a class="navbar-brand" href="/">Лог роботи програми:</a>
      </div>
      <div class="dropdown mx-auto">
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">🚀Основне меню дій:</a>
        <ul class="dropdown-menu">
          <li><a href="/" class="btn btn-info dropdown-item">⬅На головну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/upload" class="btn btn-success">💾Додати новий сайт вручну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/provision" class="btn btn-success">💽Розгорнути сайт автоматично</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cloudflare_domains" class="btn btn-secondary"><img src="https://dash.cloudflare.com/favicon.ico" width="20px" height="20px">Робота з доменами CloudFlare</a></li>
          <li><hr class="dropdown-divider"></li>
          {{admin_panel|safe}}
        </ul>
      </div>
      <div class="ms-auto d-flex align-items-center">
        <form class="d-flex" action="/logout" method="POST">
          <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">🏃{{current_user.realname}}&nbsp;Вихід</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="col-12 h-100 d-flex flex-column">
  <div class="text-container flex-grow-1 overflow-auto log-view" id="logBox">
    <pre id="log-box" class="bg-dark text-light" style="height: 87vh; overflow-y: auto;"></pre>
  </div>
</div>
</main>
<script src="{{ url_for('static', filename='js/logs.js') }}"></script>
</body>
</html>
