<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Automatic provision system for a lot of small sites">
  <title>The Provision</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="48x48">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
</head>
<body>
<main>
<div>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center me-auto">
        <img src="{{ url_for('static', filename='images/favicon.svg') }}" alt="Logo" width="32" height="32">
        <a class="navbar-brand" href="/">&nbsp;The Provision:</a>
        <span class="spinner-border text-warning ms-2" role="status" id="spinnerLoading" style="visibility: hidden;"></span>
      </div>
      <div class="dropdown mx-auto">
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">🚀Основне меню дій:</a>
        <ul class="dropdown-menu">
          <li><a href="/" class="btn btn-info dropdown-item">⬅На головну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/provision/" class="btn btn-success">💽Розгорнути сайт автоматично</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logs/" class="btn btn-secondary">📩Лог роботи програми</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cloudflare_domains/" class="btn btn-secondary"><img src="https://dash.cloudflare.com/favicon.ico" width="20px" height="20px">Робота з доменами CloudFlare</a></li>
          <li><hr class="dropdown-divider"></li>
          {{admin_panel|safe}}
        </ul>
      </div>
      <div class="ms-auto d-flex align-items-center">
        <form class="d-flex" action="/logout/" method="POST">
          <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">🏃{{current_user.realname}}&nbsp;Вихід</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-8">
      <div class="card mx-auto">
        <div class="card-header" style="background-color: greenyellow;">
          <strong>Додати новий сайт вручну:</strong>
        </div>
        <div class="card-body">
          <form action="/upload/" method="POST" enctype="multipart/form-data" id="postform">
            <p><h5>Завантажте ZIP архів,в якому в корні має бути мінімум наступне:</h5>
            <strong>public/:</strong> - (ВАЖЛИВО!) головна папка зі скриптами.Веб сервер буде шукати головний файл index.php саме в цій папці. Будь які інші файли та папки можуть бути окрім цієї папки.<br></p>
            <input type="file" class="form-control form-control-sm" name="fileUpload[]" id="fileUpload" accept=".zip" multiple><br>
            <p class="card-text">Можна завантажити одразу багато файлів.<br>Кожен архів буде розпакован в папку із ім'ям домену, взятого із назви файлу архіву.</p>
            <div class="mb-3 dropdown">
              <h5 class="card-title">Оберіть аккаунт CloudFlare на якому новий домен розташован:</h5>
              <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="Account" data-bs-toggle="dropdown" aria-expanded="false" style="width: 580px;">{{first_cf|safe}}</button>
              <ul class="dropdown-menu" aria-labelledby="Account">
                {{cf_list|safe}}
              </ul>
              <input type="hidden" name="selected_account" id="selected_account" value="{{first_cf|safe}}" required>
              <div class="invalid-feedback">
                Оберіть аккаунт CloudFlare.
              </div>
            </div>
            <div class="mb-3 dropdown">
              <h5 class="card-title">Оберіть на який сервер будуть вести DNS записи:</h5>
              <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="Server" data-bs-toggle="dropdown" aria-expanded="false" style="width: 755px;">{{first_server|safe}}</button>
              <ul class="dropdown-menu" aria-labelledby="Account">
                {{server_list|safe}}
              </ul>
              <input type="hidden" name="selected_server" id="selected_server" value="{{first_server|safe}}" required>
              <div class="invalid-feedback">
                Оберіть на який сервер будуть DNS записи
              </div>
            </div>
            <p style="color: red;">Увага! Якщо завантажуються багато файлів одночасно - всі домени повинні бути на одному аккаунті CloudFlare, що обран вище!
              Також всі ці файли повинні вести на один і той самий, обраний вище, сервер!
            </p>
            <div class="d-grid mt-2 col-12 col-md-6 mx-auto">
              <button type="submit" class="btn" style="background-color: yellowgreen;" name="buttonSubmit" value="buttonSubmit" onclick="showLoading()">Почати автоматичне розгортання із файлу</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</main>
</body>
</html>
