<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Automatic provision system for a lot of small sites">
  <title>1000 sites provision system</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png"/>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
  <style>
    body {
      padding-top: 60px;
    }
  </style>
</head>
<body>
<main>
<div>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center me-auto">
        <a class="navbar-brand" href="/">Менеджер редіректів для {{sitename|safe}} :</a>
        <form action="/action/" method="post">
          <button class="btn {{applyButton|safe}}" type="submit" id="applyChanges" name="applyChanges" value="apply">✅Застосувати</button>
          <input type="hidden" name="sitename" value="{{sitename|safe}}">
        </form>
        <span class="spinner-border text-warning ms-2" role="status" id="spinnerLoading" style="visibility: hidden;"></span>
      </div>
      <div class="dropdown mx-auto">
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">🚀Основне меню дій:</a>
        <ul class="dropdown-menu">
          <li><a href="/" class="btn btn-info dropdown-item">⬅На головну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/upload/" class="btn btn-success">💾Додати новий сайт вручну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/provision/" class="btn btn-success">💽Розгорнути сайт автоматично</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logs/" class="btn btn-secondary">📩Лог роботи програми</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cloudflare_domains/" class="btn btn-secondary"><img src="https://dash.cloudflare.com/favicon.ico" width="20px" height="20px">Робота з доменами CloudFlare</a></li>
          <li><hr class="dropdown-divider"></li>
          {{admin_panel|safe}}
        </ul>
      </div>
      <div class="mx-auto">
        <a href="/upload_redirects?site={{sitename|safe}}" class="btn btn-info" type="submit">🚀Додати/завантажити нові</a>
      </div>
      <div class="ms-auto d-flex align-items-center">
        <form class="d-flex" action="/logout/" method="POST">
          <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">🏃{{current_user.realname}}&nbsp;Вихід</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid px-2">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
          <tr>
            <th scope="col" style="width: 5%;">#</th>
            <th scope="col">Звідки:</th>
            <th scope="col" style="width: 5%;">Вибрати:&nbsp;<input class="form-check-input is-invalid" type="checkbox" onclick="checkAll(this)" id="checkbox"></th>
            <th scope="col">Куди:</th>
            <th scope="col" style="width: 5%;">Тип:</th>
            <th scope="col" style="width: 5%;">Дія:</th>
          </tr>
      </thead>
      <tbody>
        <form class="d-flex" action="/action/" method="POST">
          {{table|safe}}
        </form>
      </tbody>
    </table>
  </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Інформація:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <ul class=flashes style="margin-top: 33px;" id="message">
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message|safe }}</li>
          {% endfor %}
        </ul>
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" autofocus>Got it</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
<script>
  function checkAll(bx) {
    var cbs = document.getElementsByTagName('input');
    for(var i=0; i < cbs.length; i++) {
      if(cbs[i].type == 'checkbox') {
        cbs[i].checked = bx.checked;
      }
    }
  }
  document.addEventListener("DOMContentLoaded", function () {
    const modalElement = document.getElementById("myModal");
    if (modalElement) {
      const modal = new bootstrap.Modal(modalElement);
      modal.show();
    }
  });
</script>
</main>
</body>
</html>
