<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Automatic provision system for a lot of small sites">
  <title>The Provision</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="48x48">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous" defer></script>
  <style>
    body {
      padding-top: 65px;
    }
  </style>
</head>
<body>
<main>
<div>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center me-auto">
        <img src="{{ url_for('static', filename='images/favicon.svg') }}" alt="Logo" width="32" height="32">
        <a class="navbar-brand" href="/">&nbsp;Керування CNAME записами домену:</a>
        <span class="spinner-border text-warning ms-2" role="status" id="spinnerLoading" style="visibility: hidden;"></span>
      </div>
      <div class="dropdown mx-auto">
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">🚀Основне меню дій:</a>
        <ul class="dropdown-menu">
          <li><a href="/" class="btn btn-info dropdown-item">⬅На головну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/upload/" class="btn btn-success">💾Додати новий сайт вручну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/provision/" class="btn btn-success">💽Розгорнути сайт автоматично</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logs/" class="btn btn-secondary">📩Лог роботи програми</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cloudflare_domains/" class="btn btn-secondary"><img src="https://dash.cloudflare.com/favicon.ico" width="20px" height="20px">Робота з доменами CloudFlare</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cloudflare_email_dashboard/" class="btn btn-secondary">📊Дашборд Email Routing</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cloudflare_email_bulk/" class="btn btn-secondary">📮Bulk Email Routing</a></li>
          <li><hr class="dropdown-divider"></li>
          {{admin_panel|safe}}
        </ul>
      </div>
      <div class="ms-auto d-flex align-items-center">
        <form class="d-flex" action="/logout/" method="POST">
          <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">🏃{{current_user.realname}}&nbsp;Вихід</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-8">
      <div class="card mx-auto">
        <div class="card-header" style="background-color: palegreen;">
          <h4 style="text-align: center;">Валідація для пошукових систем домену {{ domain|safe }} :</h4>
          <h6 style="text-align: center;">Аккаунт: {{ account|safe }}</h6>
        </div>
        <div class="card-body">
          <form action="/dns_validation/" method="POST" id="postform" class="needs-validation" novalidate>
            <div id="currentRecords">
              <h5 class="card-title">Вже існуючі записи типу CNAME:</h5>
              <table class="table table-bordered">
                <thead>
                  <tr class="table-warning">
                    <th scope="col" style="width: 50%;">CNAME:</th>
                    <th scope="col" style="width: 50%;">Значення:</th>
                  </tr>
                </thead>
                <tbody>      
                  {% for site in html_data %}
                  <tr class="table-success">
                    <td class="table-success cname-cell" >{{site.record_name|safe}}</td>
                    <td class="table-success"><button data-bs-toggle="tooltip" data-bs-placement="top" type="submit" class="btn btn-outline-warning" name="buttonDelCname" value="{{site.record_id|safe}}" onclick="fillCnameAndSubmit(this)" title="Видалити цей запис">❌</button>&nbsp;{{site.record_conent|safe}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div id="add_dns_record" class="input-group mb-3 w-100">
                <span class="input-group-text">CNAME</span>
                <input type="text" class="form-control" placeholder="Напр.: 234dsfg34tasdf" aria-label="cname" name="cname">
                <span class="input-group-text">Текст</span>
                <input type="text" class="form-control" value="verify.bing.com" aria-label="cname_value" name="cname_value">
            </div>
            <div class="d-grid mt-2 col-12 col-md-4 mx-auto">
              <button type="submit" class="btn" style="background-color: palegreen;" name="buttonAddCname" value="{{ domain|safe }}" onclick="showLoading()">Додати новий запис CNAME</button>
              <input type="hidden" name="account" value="{{ account|safe }}">
              <input type="hidden" name="domain" value="{{ domain|safe }}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Інформація:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <ul class=flashes style="margin-top: 33px;" id="message">
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message|safe }}</li>
          {% endfor %}
        </ul>
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" autofocus>Got it</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">Результат</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalResultBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/dns_validation.js') }}" defer></script>
</main>
</body>
</html>
