<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Automatic provision system for a lot of small sites">
  <title>1000 sites provision system</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type='image/png' sizes="16x16" />
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous" defer></script>
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>
<body>
<main>
<div>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center me-auto">
        <a class="navbar-brand" href="/">Система автоматичного розгортання сайтів:</a>
        <span class="spinner-border text-warning ms-2" role="status" id="spinnerLoading" style="visibility: hidden;"></span>
      </div>
      <div class="dropdown mx-auto">
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">🚀Основне меню дій:</a>
        <ul class="dropdown-menu">
          <li><a href="/" class="btn btn-info dropdown-item">⬅На головну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/upload" class="btn btn-success">💾Додати новий сайт вручну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/provision" class="btn btn-success">💽Розгорнути сайт автоматично</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logs" class="btn btn-secondary">📩Лог роботи програми</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cloudflare_domains" class="btn btn-secondary"><img src="https://dash.cloudflare.com/favicon.ico" width="20px" height="20px">Робота з доменами CloudFlare</a></li>
          <li><hr class="dropdown-divider"></li>
          {{admin_panel|safe}}
        </ul>
      </div>
      <div class="mx-auto">
        <a href="/redirects_manager?site={{sitename|safe}}" class="btn btn-info">Назад до менеджера редіректів</a>
      </div>
      <div class="ms-auto d-flex align-items-center">
        <form class="d-flex" action="/logout" method="POST">
          <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">🏃{{current_user.realname}}&nbsp;Вихід</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-8">
      <div class="card mx-auto">
        <div class="card-header">
          <h5 style="text-align: center;">Додавання редіректів для {{sitename|safe}}:</h5>
        </div>
        <div class="card-body">
          <form action="/upload_redirects" method="POST" enctype="multipart/form-data">
          <p class="card-text">Можете завантажити .CSV файл з вашими редіректами.</p>
          <span class="badge rounded-pill bg-info text-dark">Приклад вмісту .CSV файлу:</span>
          <p>Хочемо зробити редірект з <font color=blue>https://site.com</font><font color=red>/news/latest/</font> на <font color=blue>https://site.com</font><font color=orange>/hottest/latest/</font>:</p>
          <p><strong>Створіть новій текстовий файл, наприклад some_file.csv. Додайте строку в файл:</strong></p>
          <p><strong>/news/latest/,/hottest/latest/</strong></p>
          <p>один редірект на кожну строку. Сам домен в шляху "звідки редірект" не потрібно вказувати.Тільки вже в "редірект куди".</p>
          <input type="file" class="form-control form-control-sm w-100" name="fileUpload" id="fileUpload">
          <p class="card-text">або додайте один редірект прям ось тут:</p>
          <div class="row g-2">
            <div class="col-12 col-md-4">
              <span class="input-group-text" id="RedirectFromField">Редірект з: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sitename|safe}}</span>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control w-100" placeholder="/page/subpage/oldpage/" name="RedirectFromField">
            </div>
            <div class="col-12 col-md-4">
              <span class="input-group-text" id="RedirectToField" >Редірект куди: {{sitename|safe}}</span>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control w-100" placeholder="/page/newpage/" name="RedirectToField">
            </div>
          </div>
          <p class="card-text">Якщо був обран файл, то цей файл і буде завантажений.Текстові поля вище будут ігноруватися.<br>Якщо файл не обран,то дані із текстових полів вище будуть заватажені.</p>
          <div class="mb-3">
          <span class="badge rounded-pill bg-info text-dark">Оберіть тип редіректу:</span>
            <select class="form-select form-select-sm w-100" name="templateField">
              <option value="strict">= Точний (точна вказана сторінка,ніякі інші)</option>
              <option value="catch all">~ Всі схожі (редірект всього,що починається з заданої строки і далі не важливо що)</option>
            </select>
            </div>
            <div class="d-grid mt-2 col-12 col-md-4 mx-auto">
              <input type="hidden" name="sitename" value="{{sitename|safe}}">
              <button type="submit" class="btn btn-info" name="addnewSubmit" value="addnewSubmit">Почати додавання редиректів</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function showLoading() {
    document.getElementById("spinner").style.visibility = "visible";
  }

  document.addEventListener("DOMContentLoaded", function () {
  const modalElement = document.getElementById("myModal");
  if (modalElement) {
    const modal = new bootstrap.Modal(modalElement);
    modal.show();
  }
  });
</script>
</main>
</body>
</html>
