<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Automatic provision system for a lot of small sites">
    <title>1000 sites provision system</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
  </head>
<body>
<main>
<div>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center me-auto">
        <a class="navbar-brand" href="/">Система автоматичного розгортання сайтів:</a>
        <span class="spinner-border text-warning ms-2" role="status" id="spinnerLoading" style="visibility: hidden;"></span>
      </div>
      <div class="dropdown mx-auto">
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">🚀Основне меню дій:</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/upload" class="btn btn-success">💾Додати новий сайт вручну</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/provision" class="btn btn-success">💽Розгорнути сайт автоматично</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logs" class="btn btn-secondary">📩Лог роботи програми</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cloudflare_domains" class="btn btn-secondary"><img src="https://dash.cloudflare.com/favicon.ico" width="20px" height="20px">Робота з доменами CloudFlare</a></li>
          <li><hr class="dropdown-divider"></li>
          {{admin_panel|safe}}
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <input type="text" id="siteFilter" class="form-control" placeholder="🔍 Фільтр по домену…" autofocus>&nbsp;
          <select id="ownerFilter" class="form-select form-select">
          <option value="">👤 Усі власники</option>
          {{users_list|safe}}
        </select>
      </div>
      <div class="ms-auto d-flex align-items-center">
        <form action="/logout" method="POST">
          <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">🏃{{current_user.realname}}&nbsp;Вихід</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid px-2">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
    <thead>
      <tr class="table-warning">
        <th scope="col" style="width: 3%">ID</th>
        <th scope="col" style="width: 16%">Можливі дії:</th>
        <th scope="col" style="width: 20%">Назва сайту: (Обрати всі:&nbsp;<input class="form-check-input is-invalid" type="checkbox" onclick="checkAll(this)" id="checkbox">)</th>
        <th scope="col">Шлях на сервері:&nbsp;<button id="closeAll" class="btn-sm btn-warning">Згорнути всі</button></th>
        <th scope="col">Власник:</th>
        <th scope="col">Стан сайту:</th>
      </tr>
    </thead>
    <tbody>
      {% for site in html_data %}
      {{site.table_type|safe}}
      <form method="post" action="/action" id="main_form"></form>
      <form method="post" action="/redirects_manager" id="redirect_form{{site.site_name|safe}}"></form>
      {{site.table_type2|safe}}
        <div class="dropdown mx-auto">
          <a class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-display="static">⚙ Можливі дії:</a>
          <ul class="dropdown-menu">
            <li><button class="btn btn-danger delete-btn dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" type="submit" value="{{site.site_name|safe}}" data-site="{{site.site_name|safe}}" name="delete" form="main_form" onclick="showLoading()" title="Повне та невозвратне видалення сайту та його конфігурації з серверу.">🙅‍♂️Видалити</button></li>
            <li><hr class="dropdown-divider"></li>
            <li>{{site.button_2|safe}}</li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="btn btn-success dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" name="clone" onclick="showLoading()" href="/clone?source_site={{site.site_name|safe}}" style="width: 139px;" title="Взяти за основу даний сайт та зробити копію для іншого домену.">🚻Клонувати</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><button class="btn btn-primary gitpull-btn dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" type="submit" value="{{site.site_name|safe}}" id="gitPullButton" name="gitPull" form="main_form" onclick="showLoading()" style="margin-top: 5px;" title="Зробити пул із репозиторію для оновлення коду сайту до актуального">♻Оновити код</button></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="btn btn-info dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" type="submit" name="manager" href="/redirects_manager?site={{site.site_name|safe}}" value="{{site.site_name|safe}}" style="margin-top: 5px; width: 236px;" title="Керування 301-ми редіректами для цього сайту.">🚥Редіректи (~{{site.count_redirects|safe}} шт. вже є)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>{{site.dns_validation|safe}}</li>
          </ul>
        <input type="hidden" name="sitename" value="{{site.site_name|safe}}">
        <div>
          <u>Сайт розгорнут: {{site.getSiteCreated|safe}}</u>
        </div>
        {{site.table_type2|safe}}
        <div class="d-flex flex-column">
        <div>
          <input class="selected-site form-check-input chk" type="checkbox" name="selected" value="{{site.site_name|safe}}" form="main_form">
          <a href="https://{{site.site_name|safe}}" target="blank">{{site.site_name|safe}}</a>
        </div>
        <div class="mt-2">
          <button class="btn {{site.robots_button|safe}}" data-bs-toggle="modal" data-bs-target="#editorModal" onclick="openEditor('{{site.site_name|safe}}')">✏️ редагувати robots.txt</button>
        </div>
      </td>
      {{site.table_type2|safe}}
      <div class="accordion" id="folderAccordion{{site.id|safe}}">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne{{site.id|safe}}">
            <button class="accordion-button collapsed accordion-path" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{site.id|safe}}" aria-expanded="false" aria-controls="collapseOne{{site.id|safe}}" data-path="{{site.accordeon_path|safe}}">
              + 📁 {{site.accordeon_path|safe}}
            </button>
          </h2>
          <div id="collapseOne{{site.id|safe}}" class="accordion-collapse collapse" aria-labelledby="headingOne{{site.id|safe}}" data-bs-parent="#folderAccordion{{site.id|safe}}">
            <div class="accordion-body">
              Заватажую...
            </div>
          </div>
        </div>
      </div></td>
      {{site.table_type2|safe}}{{site.getSiteOwner}}</td>
      {{site.table_type2|safe}}{{site.site_status|safe}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <button id="scrollTopBtn" class="btn btn-dark shadow">↑</button>
    <div class="modal fade" id="editorModal" tabindex="-1">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Редактор robots.txt сайту</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <textarea id="editorTextarea" class="form-control" style="height: 60vh; font-family: monospace;"></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">❌ Відміна</button>
            <button class="btn btn-success" onclick="saveEditor()">💾 Зберегти</button>
            <input type="hidden" name="domain" value="test" id="domain">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Інформація:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <ul class=flashes style="margin-top: 33px; white-space: pre-line;" id="message">
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message|safe }}</li>
          {% endfor %}
        </ul>
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" autofocus>Got it</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</main>
</body>
</html>
